<!--div class="tab-content">
    <section class="section_aplication tab-pane fade in active" id="camion"-->

<div class="searchTruck">
    <div class="contenIconSearch">
        <img src="img/IconSearch.png"class="imgSearch" (click)="search()">
    </div>

    <div class="contentInputSearchContainer">

        <input type="text" pInputText [(ngModel)]="equipId" placeholder="CONTENEDOR" onfocus="this.placeholder = ''" onblur="this.placeholder = 'TODOS LOS CONTENEDOR'"/>

    </div>
    <div class="contentInputSearchType">
        <p-dropdown [options]="values" [(ngModel)]="selectedMovementType"></p-dropdown>
    </div>
</div>

<div class="paddingTop" *ngIf="lorryMovements && lorryMovements.length > 0">

    <div class="itemsListSearchTruck" *ngFor="let movement of lorryMovements">
            <div class="contentBtnTruck">
                <button class="btnFinalizar" (click)="selectMovement(movement)">F</button>
            </div>


            <div class="contentContenedorTruck">
                <p class="descrptionSearch">{{movement.contenedor}} <span class="tipeContainer">{{movement.tipoContenedor}}</span></p>
                <p class="descrptionSearch">{{movement.camion}}</p>
            </div>

            <div class="contentContenedorType">
                <p>{{movement.ubicacion}}</p>
            </div>
        </div>


</div>

<p-dialog header="Confirmación" data-icon="fa-plus" [(visible)]="displayConfirmation" modal="modal" showEffect="fade">

        <p>{{ confirmationMessage }}</p>

    <footer>
        <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="display=false">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmMovement()">Aceptar</button>-->
        <button type="button" pButton icon="fa-close" (click)="displayConfirmation=false" label="Cancelar"></button>
        <button type="button" pButton icon="fa-check" (click)="confirmMovement()" label="Aceptar"></button>
    </footer>
</p-dialog>

<!--<div>
    <form class="search_truck">
        <div class="content_inputs_aplication">
            <label class="label_aplication_truck">tipo:</label>
            <select class="select" (change)="onItemChange($event.target.value)">
                <option *ngFor="#value of values" value="{{value.key}}">{{value.value}}</option>
            </select>
        </div>
        <div class="content_inputs_aplication">
            <label class="label_aplication_truck">Contenedor:</label>
            <input type="text" class="input_aplication_truck" [(ngModel)]="equipId">
        </div>
        <input type="submit" class="form_btn btn_margin_left" value="BUSCAR" (click)="search()">
    </form>
    <table class="table table-striped table-bordered"  *ngIf="lorryMovements && lorryMovements.length > 0">
        <thead>
            <tr>
                <th>Tipo Movimiento</th>
                <th>Contenedor</th>
                <th>Tipo</th>
                <th>Camión</th>
                <th>Ubicación</th>
                <th>Finalizar</th>
            </tr>
        </thead>
        <tbody *ngFor="#movement of lorryMovements">
            <tr>
                <td>{{ literalCraneLorry(movement.camionOGrua) }}</td>
                <td>{{movement.contenedor}}</td>
                <td>{{movement.tipoContenedor}}</td>
                <td>{{movement.camion}}</td>
                <td>{{movement.ubicacion}}</td>
                <td> <button type="button" (click)="selectMovement(movement)">FINALIZAR</button></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="notFoundMessage">No se han encontrado datos</p>
</div>-->
<!--<modal #movementConfirmationModal>
    <modal-header>
        <h4 class="modal-title">Confirmación</h4>
    </modal-header>
    <modal-body>
        <p>{{ confirmationMessage }}</p>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmMovement()">Aceptar</button>
    </modal-footer>
</modal>-->