<section class="login" id="login" *ngIf(!isLoggedIn())>
	<img src="img/loginIcon.png" class="loginIcon">
	<form>
		<input type="text" pInputText [(ngModel)]="username" class="block" placeholder="Usuario" onfocus="this.placeholder = ''"
			onblur="this.placeholder = 'Usuario'" />
		<input type="password" pInputText [(ngModel)]="password" class="block" placeholder="Contraseña" onfocus="this.placeholder = ''"
			onblur="this.placeholder = 'Contraseña'" />
		<button pButton type="button" label="ENTRAR" (click)="login()"></button>
	</form>
</section>
<section class="section" *ngIf(isLoggedIn())>
	<header class="mainNav">
		<p-menu [popup]="true" [trigger]="btn" >
			<ul>
				<li (click)="setLorryMode()"> <a data-icon="fa-truck" [routerLink]="['lorry']"><span>CAMIÓN</span></a>
				</li>
				<li (click)="setTrainMode()"> <a data-icon="fa-train" [routerLink]="['train']"><span>TREN</span></a>
				</li>
				<li> <a data-icon="fa-user-times">SALIR</a>
				</li>
			</ul>
		</p-menu>
		<button #btn type="button" pButton icon="fa fa-reorder" class="btnHamMy"></button>
		<div class="loginUser">
			<p class="userParraf">User:</p>
			<p class="userParraf">{{_securityService.session.nomUsuari}}</p>
		</div>
	</header>
	<section>
		<div class="page-content">
			<router-outlet></router-outlet>
		</div>
	</section>
</section>
