<div>
    <form class="search_train" id="search_train">
        <div class="content_inputs_aplication">
            <label class="label_aplication_train">Servicio:</label>
            <select class="select">
							<option value="" selected="SALIDA">SALIDA</option>
							<option value="ENTRADA">ENTRADA</option>
						</select>
        </div>
        <div class="content_inputs_aplication">
            <label class="label_aplication_train">Fecha oficial salida</label>
            <input type="date" class="input_aplication_train" required>
        </div>
        <div class="content_chekbox">
            <input type="radio" name="mov" id="radio01"><label for="radio01"><span></span>Carga</label>
            <input type="radio" name="mov" id="radio02"><label for="radio02"><span></span>Descarga</label>
            <input type="radio" name="mov" id="radio03"><label for="radio03"><span></span>Todos</label>
        </div>
        <input type="submit" class="form_btn btn_margin_left" value="BUSCAR">
    </form>

</div>